@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');



body, html

.montserrat- {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  padding: 0;
  margin: 0;
}




.h4{

}
.ll-banner h4, a:visited {
	margin-bottom: 140px;
	margin-top: 0px;
	width: 100%;
	font-size: 12px;
	color: black;
	text-decoration : none;

}


h1{

	
}

.ll-banner h1{
	margin-top: 150px;
	margin-bottom: 50px;
	font-weight: 550;
	font-size: 50px;
	text-transform: uppercase;
}


.h3{

}
.ll-banner h3{
	margin-top: 30px;
	font-weight: 200;
	font-size: 30px;
}

p{
	
}

.a.cta,
button.cta{
	

}

.a.cta.alt,
button.cta.alt{

}
.ll-banner a.cta.alt{
	color: black;
	background-color: #E9D9E5;
	display: inline-block;
	border: 1px solid rgba(0,127,255,.15);
	border-color: black;
	border-radius: 10px;
	text-decoration: none;
	padding: 5px;
	font-size: 13px;
}

.bilde2{
  width: 250px;
  height: 250px;
  background-image: url('file:///Users/liinmarie/Documents/GitHub/ll-newsletter/bilde2.png');
  background-size: 100%;
  position: absolute; top: 100px; right: 277px;
  border-radius: 75%;

	

}


.bilde3{
  width: 250px;
  height: 250px;
  background-image: url('file:///Users/liinmarie/Documents/GitHub/ll-newsletter/bilde6.png');
  background-size: 100%;
  position: absolute; top: 373px; right: 240px;
  border-radius: 75%;

}

.bilde4{
  width: 250px; 
  height: 250px;
  background-image: url('file:///Users/liinmarie/Documents/GitHub/ll-newsletter/bilde8.png');
  background-size: 100%;
  position: absolute; top: 203px; right: 10px;
  border-radius: 75%;


}

.wrapper-marg-rundt-innhold{
	width: window.innerWidth;
	margin: 10px;

}


.ll-banner{
	background-color: #FFE6F8;
	height: 800px;
	padding: 20px;
	position: relative;
	overflow: hidden;


}



/* 
<nav>
		<a href="#" class="logo">LIIN:LAND</a>
		<ul>
				<li><a href="#item/opplysninger">Sign up</a></li>
				<li><a href="#newsletter-story">The story</a></li>
				<li><a href="#more-info">More info</a></li>
		</ul>
		</nav>
*/

nav {
	height: 50px;
	background-color: white;
	box-shadow: 0 5px 8px rgba(0,0,0,.2);
	position: sticky;
	top: 0;
}

nav .logo{
	padding-left: 30px;
    text-decoration: none;
	font-size: 16px;
	overflow: hidden;
	display: absolute;
	position: absolute;
	padding-top: 10px;
	text-transform: uppercase;

}

nav ul{
	padding: 0;
	margin: 0;
}

nav ul li{
	padding: 0;
	margin: 0;
	display: block;
	float: right;
}

nav ul li a{
	display: block;
	 box-sizing: border-box;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px;

}

/*
<div class="more-info" id="more-info">
		<h2>Become a member</h2>
		<p> Every week we have a <span class="highlight"> private event </span> for members. If you want to attend - sign up for an exclusive membership. New members will also receive a special welcomegift and a new make-up sample every month. </p>
		<button class="cta">Sign me up!</button>
	</div>
*/

.more-info{
	

}



h2{
	text-align: center;
	text-transform: uppercase;
}
p{
	text-align: center;
}


